.projects {
    padding-top: 60px;
    padding-bottom: 50px;
    position: relative;
}
.section__header {
    position: relative;
}
.projects__header__title {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    font-size: 52px;
    z-index: 1;
}
.projects__header__title__transparent {
    font-size: 72px;
    z-index: 0;
    color: rgba(#ddd, 0.7);
    position: absolute;
    top: 10px;
    right: 40px;
}
.project__item {
    padding: 0;
    cursor: pointer;
    max-width: 31%;
    margin: 12px auto;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    &:hover {
        box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    }
}
.project__item__image {
    img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 300px;
        object-fit: cover;
    }
}
.project__item__title {
    margin: 0;
    padding: 15px 10px;
}
.project__item__name {
    width: 80%;
    font-size: 18px;
    text-align: left;
}
.project__item__date {
    width: 20%;
    font-size: 18px;
    text-align: right;
}
.projects__btn {
    margin-top: 30px;
    text-align: center;
}
.load__more__projects {
    padding: 12px 24px;
    background: none;
    text-transform: uppercase;
    background-color: #fff;
    color: $black;
    border: 2px solid $black;
    border-radius: 35px;
    cursor: pointer;
    &:hover {
        background-color: $black;
        color: #fff;
    }
}